body {
  background-color: #303437;
  text-align: center;
  font-family: sans-serif;
}

p1 {
  color: #EBEBEB;
  width: 100%;
  font-size: 30px;
}

p2 {
  color: #EBEBEB;
  width: 100%;
  font-size: 40px;
}

#quote {
  font-style: italic;
}
