body {
  background-color: rgb(48,52,55);
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: #EBEBEB;
  width: 100%;
  font-size: 30px;
  padding: 0px;
  border: 0px;
  margin: auto;
}

#quote {
  font-style: italic;
}
