body {
  background-color: rgb(48,52,55);
  text-align: center;
  font-family: sans-serif;
}

p {
  color: #EBEBEB;
  width: 100%;
  font-size: 30px;
  padding: 0px;
  border: 0px;
  vertical-align: top;
}

#quote {
  font-style: italic;
}
