body {
  background-color: rgb(48,52,58);
  text-align: center;
  font-family: sans-serif;
  color: #EBEBEB;
}

.container {
  -ms-align-items: center;
  align-items: center;
  padding: 20px;
}

.vert {
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 5px;
  color: #ebebeb;
}

p {
  width: 100%;
  font-size: 20px;
  padding: 0px;
  border: 0px;
  margin: auto;
}

#date {
  font-size: 30px;
}

#quote {
  font-style: italic;
}
